.header {
  position: relative;
  height: 550px;
  width: 100%;
  border: 2px solid black;
  background-image: url(../imagen/20150914_281627_PowerRangersRebootE_1_22.jpg);
  background-repeat: no-repeat;
}

.claim {
  height: 90px;
  width: 574px;
  bottom: 0px;
  margin-left: 138px;
  margin-right: 488px;
  position: absolute;
  background-color: lightgrey;
  justify-content: center;
  font-size: 40px;
  font-style: italic;