:root {
  --blue-green: #099d8d;
}

/* style reset */

* {
  font-family: "Rubik", sans-serif;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
  color: white;
  font-size: 16px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: black;
}

/* end reset */

/* menu */
header {
  width: 100%;
  box-sizing: border-box;
  background: var(--blue-green);
  padding: 15px 11%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  text-transform: uppercase;
  position: fixed;
  z-index: 3000;
}

.menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
}

.link {
  color: white;
  padding: 18px;
}
/* end menu */

/* header */
.header {
  position: relative;
  height: 550px;
  width: 100%;
  border: 2px solid black;
  background-image: url(../imagen/d8gjula-1de2331d-b010-426c-859f-ee22966e1159.png);
  background-repeat: no-repeat;
}

.claim {
  height: 90px;
  width: 574px;
  bottom: 0px;
  margin-left: 138px;
  margin-right: 488px;
  position: absolute;
  background-color: lightgrey;
  justify-content: center;
  font-size: 40px;
  font-style: italic;
  opacity: 0.7;
  text-decoration: solid;
}
/* end header */

/* equipo */

/* end equipo */

/* fortalezas y debilidades */

/* end fortalezas y debilidades */
h3 {
  font-family: Rubik;
  font-size: 24px;
  color: var(--blue-green);
}

/* quienes somos */
.us {
  width: 1200px;
  height: 1483px;
}
.quienes_somos {
  width: 193px;
  height: 45px;
  font-family: Rubik;
  font-size: 24px;
  color: var(--blue-green);
}
/* end quienes somos */

/* footer */
/* end footer */
