<section class="us" id="us">
    <h2 class="quienes_somos">"Quiénes somos"</h2>
    <article class="adalaber adalab_left">
        <div class="imagen">
            <div class="imagen-ranger green-r"></div>
            <img src="./assets/images/alejandra.jpg" alt="Foto Alejandra" />
        </div>
        <div class="texto">
            <h4 class="texto-title">Alejandra Salmerón</h4>
            <p>Vinculada con el nacimiento, la vida, la fuerza y la energía: Así es nuestra
                AdaRanger verde. El crecimiento es lo que la define, no puede parar y una constante
                superación es su objetivo.</p>
            <nav class="links">
                <a href="https://twitter.com/Alejandrasalca">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.linkedin.com/in/alejandra-salmeron">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://github.com/AlejandraSC">
                    <i class="fab fa-github-alt"></i>
                </a>
                <a href="alejandrasalmeron6@gmail.com">
                    <i class="fas fa-envelope"></i>
                </a>
            </nav>
        </div>
    </article>
    <article class="adalaber adalab_right">
        <div class="imagen">
        <div class="imagen-ranger black-r"></div>
            <img src="./assets/images/gema.JPG" alt=" Foto Gema" /> </div>
        </div>
        <div class="texto">
            <h4 class="texto-title">Gema Pujalte</h4>
            <p>
                Tras una larga trayectoria como formadora de estilistas decidió cambiar totalmente de carrera y ella,
                ilusionada, aceptó
                el reto. Ahora no da estilo a los clientes si no a los CSS. Perseverante, prudente, empática y mamá de
                Leo,
                busca nuevas
                luchas en el día a día siempre con un dresscode black y su eyeliner inseparable.

            </p>
            <nav class="links">
                <a href="https://twitter.com/Gema_pujalte">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.linkedin.com/in/gema-pujalte-iglesias-a08b831b5/">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://github.com/GemaPujalte">
                    <i class="fab fa-github-alt"></i>
                </a>
                <a href="gema.pujalte.iglesias@gmail.com">
                    <i class="fas fa-envelope"></i>
                </a>
            </nav>
        </div>
    </article>
    <article class="adalaber adalab_left">
        <div class="imagen">
        <div class="imagen-ranger blue-r"></div>
            <img src="./assets/images/ana.jpg" alt="Foto Ana" />
        </div>
        <div class="texto">
            <h4 class="texto-title">Ana Castrillo</h4>
            <p>
                Tranquila y constante, siempre buscando la solución más lógica a los problemas, Ana
                se ve representada en el color azul. Esto, unido a la creatividad de su carrera de
                diseño gráfico hace que tenga una especial manera de pensar y comportarse.
            </p>
            <nav class="links">
                <a href="https://twitter.com/callmeferre ">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.linkedin.com/in/ana-castrillo-soria-48052216a/ ">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://github.com/AnaCastrillo ">
                    <i class="fab fa-github-alt"></i>
                </a>
                <a href="callmeferre@gmail.com">
                    <i class="fas fa-envelope"></i>
                </a>
            </nav>
        </div>
    </article>
    <article class="adalaber adalab_right">
        <div class="imagen">
        <div class="imagen-ranger red-r"></div>
            <img src="./assets/images/raquel.png" alt="Foto Raquel" />
        </div>
        <div class="texto">
            <h4 class="texto-title">Raquel García</h4>
            <p>
                Su color describe su personalidad, rojo como el fuego, intensa, apasionada y
                luchadora, la hemos visto con inseguridades y decayendo por la frustración, pero la
                encontramos de vuelta para seguir con su objetivo.
            </p>
            <nav class="links">
                <a href=" https://twitter.com/RaquelG51727205">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_nav-header-join">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://github.com/RaquelGarciaCaja">
                    <i class="fab fa-github-alt"></i>
                </a>
                <a href="raquelgc8@gmail.com">
                    <i class="fas fa-envelope"></i>
                </a>
            </nav>
        </div>
    </article>

    <article class="adalaber adalab_left">
        <div class="imagen">
             <div class="imagen-ranger yellow-r"></div>
            <img src="./assets/images/irene.png" alt="Foto Irene" />
        </div>
        <div class="texto">
            <h4 class="texto-title">Irene Correas</h4>
            <p>
                El amarillo representa el optimismo y la creatividad como ella, tiene grandes ideas aunque sabe que
                queda mucho
                trabajo
                por hacer. Pero siempre con energía y motivación. Ha decidido dar un cambio a su vida y aquí está
                embarcada en
                una nueva aventura, con el resto de AdaRangers para cumplir
                con este proyecto.
            </p>
            <nav class="links">
                <a href="https://twitter.com/correas_irene">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.linkedin.com/in/irene-correas/">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://github.com/Irene-correas">
                    <i class="fab fa-github-alt"></i>
                </a>
                <a href="irenecorreas28@gmail.com">
                    <i class="fas fa-envelope"></i>
                </a>
            </nav>
        </div>
    </article>
</section>