<main class="about">
  <h3 class="form__title">Contacto</h3>
  <p class="form__p">
    Para más información sobre las Adarangers, rellene el formulario y nos
    podremos en contacto tan rápido como nos metamorfoseamos.
  </p>
  <small class="form__small">
    Todos los campos marcados <span class="asterisk"> * </span> son
    obligatorios</small
  >
</main>
<form
  class="form"
  action="//formspree.io/gema.pujalte.iglesias@gmail.com"
  method="POST"
>
  <label for="name">
    <span>Nombre completo <span class="asterisk">*</span></span></label>
    <input
      class="form__inpt form__inpt--desktop"
      type="text"
      name="name"
      id="name"
      placeholder="Nombre"
      required
  /></label>

  <label for="email"
    >
    <span>Email <span class="asterisk">*</span></span></label>
    <input
      class="form__inpt form__email"
      type="email"
      name="email"
      id="email"
      required
  />

  <label for="phone"
    >Teléfono</label>
    <input
      class="form__inpt form__inpt--tlf"
      type="tel"
      name="phone"
      id="phone"
      placeholder="Ej:123456789"
  />

  <label for="message">Mensaje <span class="asterisk">*</span></label>
  <textarea
    class="textarea form__inpt"
    placeholder="¿Qué necesitas?"
    name="text"
    id="text"
    cols="30"
    rows="10"
    required
  ></textarea>

  <input
    class="form__inpt form__button"
    type="submit"
    name="send"
    id="send"
    value="ENVIAR"
  />
</form>
