<section class="f-d">
  <div class="text-block">
    <h3>Fortalezas</h3>
    <p>
      Al proceder de sectores muy diversos, han sido capaces de adaptarse a una
      nueva forma de aprendizaje demostrando una excelente gestión de la
      frustración sin rendirse. Esto se nutre de una combinación de trabajo en
      equipo tanto presencial como online (Slack, Trello, Github) junto con una
      buena dosis autodidactismo. Lo mejor de las Adarangers es que son un
      perfil totalmente moldeable.
    </p>
  </div>
  <div class="text-block">
    <h3>Debilidades</h3>
    <p>
      A causa de su reciente incorporación en el sector tecnológico están en
      pleno proceso de aprendizaje, careciendo de experiencia.
    </p>
  </div>
</section>
