<footer class="footer">
  <small class="copyrigth-container">
    <span class="footer-copyright">AdaRanger &copy; 2020</span>
  </small>
  <nav class="menu-footer">
    <ul>
      <li class="li-bullets"><a href="#about">EQUIPO</a></li>
      <li class="li-bullets"><a href="#us">QUIENES SOMOS</a></li>
      <li class="li-bullets"><a href="#">CONTACTO</a></li>
    </ul>
  </nav>

  <div class="footer-logo-adalab">
    <a href="https://adalab.es/" target="_blank">
      <img
        class="link-logo"
        src="./assets/images/logo-adalab.png"
        alt="logo Adalab"
      />
    </a>
  </div>
</footer>
