// fonts
$title-font: "Rubik",
sans-serif;
$text-font: "Open Sans",
sans-serif;

// colors
$dark-green: #099d8d;
$light-green: #14d9c4;
$light-grey: #b8b8b9;
$dark-grey: #54585a;
$background-grey: #f1f1f1;
$background-texto: #ffffff;