// fonts
$title-font: "Rubik", sans-serif;
$text-font: "Open Sans", sans-serif;

// colors
$dark-green: #099d8d;
$translucen-dark-green: rgba(9, 157, 141, 0.95);
$light-green: #14d9c4;
$translucen-light-green: rgba(20, 217, 197, 0.95);
$light-grey: #b8b8b9;
$dark-grey: #54585a;
$background-grey: #f1f1f1;
$translucent-white: rgba(255, 255, 255, 0.8);
$background-cards: #ffffff;
