* {
  /*text-align: center;*/
  font-family: $text-font;
}
.main {
  display: flex;
  flex-direction: column;
}
.form__title {
  font-size: 24px;
  text-transform: uppercase;
  color: $dark-green;
  font-family: $title-font;
  display: flex;
  justify-content: center;

  @media all and (min-width: 768px) {
    width: 100%;
  }

  @media all and (min-width: 1200px) {
  }
}

.form {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 9;
  gap: 12px;
  padding: 15px;
  justify-content: center;

  @media all and (min-width: 768px) {
    grid-template-columns: 2;
  }
  @media all and (min-width: 1200px) {
    grid-template-columns: 4;
  }
}

.form__inpt {
  grid-column: span 1;
  height: 45px;
  padding-left: 15px;

  @media all and (min-width: 768px) {
    height: 45px;
    grid-column: span 2;
  }

  @media all and (min-width: 1200px) {
    height: 45px;
    grid-column: span 4;
  }
}
::placeholder {
  color: $light-grey;
}

.form__p {
  text-align: center;
  margin: 15px auto;
}

.form__small {
  display: flex;
  justify-content: center;
  margin: 30px auto;
}

.textarea {
  padding-left: 15px;
  padding-top: 11px;
  height: 105px;

  @media all and (min-width: 768px) {
    width: 442px;
  }

  @media all and (min-width: 1200px) {
    width: 601px;
  }
}

.form__email {
  color: $dark-grey;

  @media all and (min-width: 1200px) {
    grid-column: span 3;
    grid-row: 4/5;
  }
}

.form__inpt--tlf {
  @media all and (min-width: 1200px) {
    grid-column: span 1;
    grid-row: 4/5;
  }
}

.tlf-lable {
  grid-column: span 1;
}

.asterisk {
  color: $light-green;
  padding: 0 3px;
}

.form__button {
  background-color: $dark-green;
  color: $background-cards;
  border-radius: 5px;
  border: none;
  margin: 30px auto;

  @media all and (min-width: 768px) {
    width: 100%;
    grid-column: 2/3;
  }

  @media all and (min-width: 1200px) {
    grid-column: 3/5;
  }
}
