.footer {
  box-sizing: border-box;
  background-color: $background-grey;
  border-top: solid 1px $light-grey;
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.footer-copyright {
  font-weight: normal;
  color: var(--gunmetal);
  font-family: $text-font;
  font-size: 14px;
  text-align: center;
  margin: 0;
}

.footer-menu {
  width: 114px;
  opacity: 0.75;
  text-align: center;
  color: $light-grey;
  font-family: "$text-font";
  font-size: 14px;
  margin: 0px;
}

.li-bullets {
  list-style: none;
}

.li-bullets a {
  color: $dark-grey;
}

.link-logo {
  width: 116px;
  height: 45px;
}
