header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  z-index: 3000;

  @media all and (min-width: 768px) {
    background: $translucen-dark-green;
    flex-direction: row;
  }

  .title {
    margin: 0;
    color: $background-cards;
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem 0;
    background: $translucen-dark-green;
    width: 100%;

    @media all and (min-width: 768px) {
      background: none;
      width: auto;
      padding: 1rem 6%;
    }

    @media all and (min-width: 1200px) {
      padding: 1rem 12%;
    }
  }
  .menu-container {
    width: 100%;
    padding: 0 0.25rem;
    font-size: 15px;
    background: $translucen-light-green;

    @media all and (min-width: 768px) {
      background: none;
      width: auto;
      padding: 0 6%;
    }

    @media all and (min-width: 1200px) {
      padding: 0 12%;
    }
  }

  .menu {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-size: 15px;
    font-weight: 500;
    margin: 1rem auto;
  }

  .link {
    color: $background-cards;

    font-family: $title-font;

    @media all and (min-width: 768px) {
      padding: 0 0.5rem;
    }
  }
}
