header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  z-index: 3000;
}

header .menu-container {
  width: 100%;
  padding: 0 0.25rem;
  background: $light-green;
}

.menu {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-size: 15px;
  font-weight: 500;
  margin: 1rem auto;
}

.link {
  color: $background-cards;
  padding: 0 0.5rem;
}

@media all and (min-width: 768px) {
  /* hero - tablet */
  header {
    background: rgba(9, 157, 141, 0.95);
    flex-direction: row;
  }

  .title {
    background: none;
    width: auto;
    padding: 1rem 6%;
  }

  header .menu-container {
    background: none;
    width: auto;
    padding: 0 6%;
  }
}

@media all and (min-width: 1200px) {
  /* hero - desktop */
  h1 {
    padding: 1rem 12%;
  }

  header nav {
    padding: 0 12%;
  }
}
