.us {
  margin: 0 auto;
}

.quienes_somos {
  height: 45px;
  font-family: $title-font;
  font-size: 24px;
  color: $dark-green;
  text-align: center;
}

.imagen {
  width: 180px;
  height: 180px;
  border-radius: 4px;
  border: solid 5px rgba(0, 0, 0, 0.08);
  margin: 5% auto;
  overflow: hidden;
  position: relative;

  @media all and (min-width: 768px) {
    margin: 0 30px;
  }

  @media all and (min-width: 1280px) {
    width: 278px;
    height: 278px;
  }

  &-ranger {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: contain;
    opacity: 1;
    transition: opacity ease 1s;
  }

  &-ranger:hover {
    opacity: 0;
  }

  .green-r {
    background-image: url(../images/green.png);
  }

  .black-r {
    background-image: url(../images/black.png);
  }

  .red-r {
    background-image: url(../images/red.png);
  }

  .blue-r {
    background-image: url(../images/blue.png);
  }

  .yellow-r {
    background-image: url(../images/yellow.png);
  }
}

.adalaber {
  display: flex;
  flex-direction: column;
  font-family: $text-font;
  margin: 5% auto;

  @media all and (min-width: 768px) {
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 4;
    width: 85%;
  }
}

.texto {
  font-size: 16px;
  background-color: $background-cards;
  flex: 2;

  &-title {
    line-height: 2.25;
  }
}

.links {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  margin: 5% 0;
}

.fab {
  color: $light-green;
  display: flex;
  width: 31px;
  height: 30px;
}

.fas {
  color: $light-green;
  display: flex;
  width: 31px;
  height: 30px;
}

@media all and(min-width: 768px) {
  .adalab_left {
    text-align: right;
    .imagen {
      grid-column: 4 /5;
      grid-row: 1/5;
    }
    .texto {
      grid-column: 1/4;

      &-title {
        grid-row: span 1;
      }
      &-parraf {
        grid-row: span 2;
      }
    }
  }

  .adalab_left .links {
    justify-content: flex-end;
  }

  .adalab_right {
    text-align: left;
    .imagen {
      grid-column: 1 / 2;
      grid-row: 1/5;
    }
    .texto {
      grid-column: 2 / 5;

      &-title {
        grid-row: span 1;
      }
      &-parraf {
        grid-row: span 2;
      }
    }
  }

  .adalab_right .links {
    justify-content: flex-start;
  }
}
